body{
    margin: 0;
    text-align: center;
}

h1{
    margin-top: 0;
}
.about{
    background-color: #e4f9f5;
}
.top{
    height: 200px;
    width: 200px;
    background-color: red;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: blue;
}